@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1e1e1d;
  --primary-color-dark: #161513;
  --primary-color-light: #a3a3a3;
  --white: #ffffff;
  --max-width: 900px;
  --gradient-1: linear-gradient(to right bottom, #f77d6b, #9e1fdb);
  --gradient-2: linear-gradient(
    to right bottom,
    var(--white) 25%,
    var(--primary-color)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color-dark);
}

.nav__bar {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  color: var(--primary-color-light);
}

.nav__links a:hover {
  color: var(--white);
}

.header__container img {
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.header__container h1 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--white);
  text-align: center;
}

.header__container h1 span {
  background-image: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-inline: auto;
  color: var(--primary-color-light);
  text-align: center;
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__btns .btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color-dark);
  background-color: var(--white);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__btns a {
  padding: calc(0.75rem - 2px) calc(1.5rem - 2px);
  font-size: 1rem;
  line-height: 1.125rem;
  color: var(--white);
  background-color: transparent;
  border-radius: 5rem;
  border: 2px solid var(--white);
}

.header__btns a:hover {
  color: var(--primary-color-dark);
  background-color: var(--white);
}

.skill__container {
  padding-block: 0;
}

.skill__container h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.skill__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.skill__flex span {
  font-size: 2.5rem;
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project__container h2 {
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(
    to right bottom,
    #f77d6b 25%,
    var(--primary-color-dark)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.project__grid {
  display: grid;
  gap: 2rem;
}

.project__card {
  max-width: 450px;
  margin-inline: auto;
  background-color: var(--primary-color);
  border-radius: 1rem;
  overflow: hidden;
}

.project__card__details {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.project__card__details p {
  color: var(--primary-color-light);
}

.project__card__details h4 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.project__card__details a {
  font-size: 1.5rem;
  color: var(--white);
}

.experience__container h2 {
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(
    to right bottom,
    #9e1fdb 25%,
    var(--primary-color-dark)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.experience__list {
  display: grid;
  gap: 3rem;
}

.experience__header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.experience__header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.experience__header img {
  max-width: 25px;
}

.experience__header h4 {
  font-display: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.experience__header p {
  color: var(--primary-color-light);
  white-space: nowrap;
}

.experience__list li p {
  color: var(--primary-color-light);
}

footer {
  background-color: var(--primary-color);
}

.footer__container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.footer__container p {
  margin-bottom: 1rem;
  color: var(--primary-color-light);
}

.footer__container .mail__to a {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color-light);
}

.mail__to a span {
  font-size: 1rem;
}

.footer__container .mail__to:hover a {
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.25rem;
  color: var(--primary-color-light);
}

.footer__socials a:hover {
  color: var(--white);
}

@media (width > 768px) {
  nav {
    background-color: var(--primary-color);
  }

  .nav__bar {
    position: static;
    padding: 1.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4rem;
    background-color: transparent;
    transform: none;
    z-index: 1;
  }

  .skill__flex {
    gap: 2rem;
  }

  .project__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pngImage{
  height: 60px;
  width: auto;
}

.skill__flex li{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.skill__flex li span{
  margin-top: 3px;
  font-size: 26px;
  font-weight: bold;
}

.skill__flex li:hover{
  border: 3px solid #FDA802;
  filter: brightness(125%);
  scale:1.1;
  box-shadow:
    0 0 7px 3.5px #fff,  /* inner white */
    0 0 12px 7px #f0f, /* middle magenta */
    0 0 17px 11px #0ff; /* outer cyan */

}



.background {
  display: flex;
  min-height: 100vh;
  margin-top: -60px;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
  
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  border: 2px solid #eb466b;
  box-shadow: 1px 1px 8px #eb466b;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.contactUs{
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(
    to right bottom,
    #f77d6b 25%,
    var(--primary-color-dark)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.experience__container {
  padding: 40px 20px;
}

.experience__card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  color:white
}

.experience__header {
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;

}

.experience__header h3 {
  margin: 0;
  font-size: 1.5em;
}

.company-name {
  font-size: 1.2em;
  color: #555;
}

.duration {
  font-size: 0.9em;
  color: #777;
}

.experience__details h4 {
  margin-top: 0;
  font-size: 1.2em;
  color: white;
  margin-top:5px;
  margin-bottom: 5px;
}

.experience__details ul {
  list-style: disc;
  padding-left: 20px;
}

.technologies {
  list-style: none;
  padding: 0;
}

.technologies li {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  color:#3e3e3e
}


